@{
    ViewBag.Title = "Home Page";
}

<div class="" style="">
    <div style="position:relative">
            <img src="~/Content/images/home.png" class="homeImage" />
            <div class="homeText">
                <h2>dodgingbranches</h2>
                <p class="lead">dodgingbranches is your source for motivation, discover everything from your next great adventure to a walk in the park.</p>
                <p><a href="" class="btn btn-primary btn-large">Get Started! &raquo;</a></p>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Discover</h2>
        <p>Learn the best routes as voted on by the DodgingBranches community.  Get new tips and the latest updates on all of your favorite routes!</p>
        <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301865">Get Started &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Share</h2>
        <p>Share your knowledge with the DodgingBranches community, and movtivate others to get outside.</p>
        <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301866">Get Started &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Go</h2>
        <p>Get started now!  You can sign up now or just start looking for your next adventure!</p>
        <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301867">Get Started &raquo;</a></p>
    </div>
</div>
